
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html{
  scroll-behavior: smooth;


}

@font-face {
    font-family: "Bebas Book";
    src: url("../font/BebasNeueCyrillic.woff2");
    font-weight: 700;
    font-display: swap;

    /* Ключ: задаём метрики и убираем line-gap */
    ascent-override: 90%;
    descent-override: 22%;
    line-gap-override: 0%;
    size-adjust: 100%;
}
@font-face {
  font-family: "Lora";
  src: url("../font/lora-medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../font/opensans-medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.container{
  max-width: 1664px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (max-width: 1919px) {
    padding: 0 1.563vw;
    max-width: 86.667vw;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 3.906vw;
    max-width: 100%;
  }
  @media screen and (max-width: 650px) {
    padding: 0 3.623vw;
    max-width: 100%;
  }
}

.article-container,
.content{
  max-width: 708px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1919px) {
    max-width: 36.875vw;
  }
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}
$gray:#414141;
$orange:#EEAF2C;
$gray-light:#4D5059;

.title{
  color: $gray;
  font-family: "Bebas Book";
  font-weight: 700;
  line-height: 46px;

  & span{
    color: #fff;
    position: relative;
    line-height: 140%;
    // background-color: $orange;
    // padding: 0 9px;
    // border-radius: 15px;
  }
  @media screen and (max-width: 1919px) {
    line-height: 2.396vw;
    & span{
      // padding: 0 0.469vw;
      // border-radius: 0.781vw;
    }
  }
  @media screen and (max-width: 1024px) {
    line-height: 5.99vw;
    & span{
      // padding: 0 1.172vw;
      // border-radius: 1.953vw;
    }
  }
  @media screen and (max-width: 650px) {
    line-height: 7.246vw;
    & span{
      // padding: 0 1.208vw;
      // border-radius: 1.932vw;
    }
  }
}
body{
  color: $gray;
  font-family: "OpenSans";
  font-weight: 400;
}
.article-descr{
  & a{
    color: $orange;
    text-decoration: underline;
    font-weight: 700;
    pointer-events:none;
    cursor: unset;
  }
  & span{
    color: $orange;
    font-weight: 700;
  }
}
.article-descr, li{
  font-size: 18px;
  line-height: 140%;
  font-family: "OpenSans";
  font-weight: 400;
  color: $gray;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1919px) {
    font-size: 0.938vw;
    margin-bottom: 1.042vw;
  }
  @media screen and (max-width: 1024px) {
    font-size: 2.344vw;
    margin-bottom: 1.953vw;
  }
  @media screen and (max-width: 650px) {
    font-size: 4.348vw;
    margin-bottom: 3.623vw;
  }
}
li a{
  color: $orange;
  text-decoration: underline;
  font-weight: 700;
  pointer-events:none;
  cursor: unset;

}
.banner{
  width: 389px;
  height: 486px;
  background: #D9D9D9;
  position: sticky;
  top: 50px;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 1919px) {
    width: 20.26vw;
    height: 25.313vw;
    top: 2.604vw;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
  
}
.page-nav{
  width: 337px;
  height: 701px;
  position: sticky;
  top: 50px;
  display: flex;
  &__content{
    width: 98%;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.page-nav__scroll{
  width: 4px;
  height: 100%;
  background: #D9D9D9;
  border: 2px;

}
.page-nav-scroll-line{
  width: 100%;
  height: 50px;
  background: #EEAF2C;
  transition: transform 0.3s ease;
}
.page-nav__content-item{
  padding-left: 7px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 140%;
  color: #414141;
  &.active{
    background: rgba(238, 175, 44, 0.2);
  }
}
@media screen and (max-width: 1919px) {
  .page-nav{
    width: 17.552vw;
    height: 36.51vw;
    top: 2.604vw;
  }
  .page-nav__scroll{
    width: 0.208vw;
    border: 0.104vw;
  
  }
  .page-nav-scroll-line{
    height: 2.604vw;
  }
  .page-nav__content-item{
    padding-left: 0.365vw;
    margin-bottom: 0.781vw;
    font-size: 0.833vw;
    
  }
}
.main{
//   margin-top: 15px;
  overflow: hidden;
  
//   @media screen and (max-width: 1919px) {
//     margin-top: 0.781vw;
//   }
//   @media screen and (max-width: 1024px) {
//     margin-top: 3.906vw;
//   }
//   @media screen and (max-width: 650px) {
//     margin-top: 4.831vw;
//   }
}
.content{
  padding-top: 25px;
  @media screen and (max-width: 1919px) {
    margin-top: 1.302vw;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0;
    max-width: 100%;
  }
  
}
.title-main{
  font-size: 46px;
  @media screen and (max-width: 1919px) {
    font-size: 2.396vw;
  }
  @media screen and (max-width: 1024px) {
    font-size: 5.99vw;
  }
  @media screen and (max-width: 650px) {
    font-size: 7.246vw;
  }
}
.modal{
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 100%;
  background: #00000071;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  &.active{
    display: flex;
  }
  &__inner{
    width: 1054px;
    height: 500px;
    background-color: #4D5059;
    border-radius: 20px;
    color: #fff !important;
    overflow: scroll;
    padding: 50px 30px 30px;
    line-height: 140%;
    position: relative;
  }
  &__content{
    & > *{
      margin: 20px 0;
      color: #fff;
    }
    & ul{
      padding-left: 15px;
    }
    & li{
      color: #fff;
    }
    & h1{
      text-align: center;
    }
    & a{
      color: $orange;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
.close-modal{
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .modal{
    &__inner{
      width: 90.625vw;
      height: 45.573vw;
      padding: 3.906vw;
    }
  }
  .close-modal{
    right: 3.906vw;
    top: 3.906vw;
    width: 2.604vw;
    height: 2.604vw;
    & img{
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 650px) {
  .modal{
    &__inner{
      width: 100%;
      height: 80.918vw;
      padding: 6.039vw;
    }
  }
  .close-modal{
    right: 4.831vw;
    top: 4.831vw;
    width: 4.831vw;
    height: 4.831vw;
    & img{
      width: 100%;
      height: 100%;
    }
  }
}
@import "block/_header.scss";
@import "block/_order.scss";
