.days {
    padding-top: 100px;
    // .days__inner

    // .days__img
    &__title{
        & span{
            padding-left: 12px;
            padding-right: 12px;
            display: inline-block;
            &::before{
                content: '';
                width: 100%;
                height: 52px;
                border-radius: 15px;
                background: $orange;
                position: absolute;
                left: 0;
                top: 47%;
                transform: translateY(-50%);
                z-index: -1;
            }
        }
    }
    &__img {
        margin-top: 50px;
        margin-bottom: 30px;
        & img{
            width: 100%;
            height: 425px;
        }
    }
    
    // .days__descr

}
@media screen and (max-width: 1919px) {
    .days {
        padding-top: 5.208vw;
        // .days__inner
    
        // .days__img
        &__title{
            & span{
                padding-left: 0.625vw;
                padding-right: 0.625vw;
                &::before{
                    // width: 15.208vw;
                    height: 2.708vw;
                    border-radius: 0.781vw;
                }
            }
        }
        &__img {
            margin-top: 2.604vw;
            margin-bottom: 1.563vw;
            & img{
                width: 100%;
                height: 22.135vw;
            }
        }
        
        // .days__descr
    
    }
}
@media screen and (max-width: 1024px) {
    .days {
        padding-top: 10.417vw;
        // .days__inner
    
        // .days__img
        &__title{
            & span{
                padding-left: 1.563vw;
                padding-right: 1.563vw;
                &::before{
                    // width: 38.021vw;
                    height: 6.771vw;
                    border-radius: 1.953vw;
                }
            }
        }
        
        &__img {
            margin-top: 3.906vw;
            margin-bottom: 3.255vw;
            & img{
                height: 55.339vw;
            }
        }
    
    }
}
@media screen and (max-width: 650px) {
    .days {
        padding-top: 14.493vw;
        // .days__inner
    
        // .days__img
        
        &__title{
            & span{
                padding-left: 1.691vw;
                padding-right: 1.691vw;
                &::before{
                    // width: 45.894vw;
                    height: 8.213vw;
                    border-radius: 1.932vw;
                    top: 46%;
                }
            }
        }
        &__img {
            margin-top: 4.831vw;
            margin-bottom: 4.831vw;
            & img{
                height: 55.072vw;
            }
        }
    
    }
}