.header {
    padding-top: 10px;

    @media screen and (max-width: 1919px) {
        padding-top: 0.9452vmin; // 10px (10 / 10.58)
    }

    // .header__logo
    @media screen and (max-width: 1024px) {
        padding-top: 3.9062vmin; // 30px (30 / 7.68)
    }

    @media screen and (max-width: 650px) {
        padding-top: 4.8309vmin; // 20px (20 / 4.14)
    }

    &__logo {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;

        & img {
            width: 113px;
            height: 100px;

            @media screen and (max-width: 1919px) {
                width: 10.6805vmin;  // 113px (113 / 10.58)
                height: 9.4518vmin;  // 100px (100 / 10.58)
            }

            @media screen and (max-width: 1024px) {
                width: 14.7135vmin;  // 113px (113 / 7.68)
                height: 13.0208vmin; // 100px (100 / 7.68)
            }

            @media screen and (max-width: 650px) {
                width: 20.7729vmin;  // 86px (86 / 4.14)
                height: 18.3575vmin; // 76px (76 / 4.14)
            }
        }
    }
}

